html::-webkit-scrollbar {
  display: none;
}

.hover-anim p {
  opacity: 0;
  transition: all 0.3s;
}

.hover-anim:hover p {
  opacity: 1;
}

.hoverBtnAnim {
  background: transparent;
  transition: all 0.3s;
}

.hoverBtnAnim:hover {
  background: #006ba8;
}

@tailwind base;
@tailwind components;
@tailwind utilities;
